<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <div th:replace="fragments/header :: head" />
  </head>
  <body>
    <div id="main" v-cloak>
      <div id="flashError" th:text="${error}" v-show="false"></div>
      <div th:replace="fragments/header :: navbar" />
      <b-container>
        <b-row>
          <b-col lg="12" class="mt-3">
            <b-jumbotron bg-variant="light" class="text-center">
              <template #header>404!</template>
              <template #lead>
                Desculpe, a página que você está procurando não existe!
                Volte para <a href="/">página inicial</a>.
              </template>
            </b-jumbotron>
          </b-col>
        </b-row>
      </b-container>
      <div th:replace="fragments/footer :: footer" />
      <script>
        new Vue({
          el: '#main'
        });
      </script>
    </div>
  </body>
</html>
